@font-face {
    font-family: HarryPotter;
    src: url(./HARRYP__.TTF);
}

body{
    text-align: center;
    font-family:"Comic Sans MS", "Comic Sans", Arial;
    background-color:#707070;
    color:aliceblue
}

nav{
    display:flex;
    justify-content: space-between;
}

iframe{
    border-radius: 12px;
    display:inline-block;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display:inline-block;
}

ul li{
        display: inline;
        padding:10px;
        border: solid 1px teal;
}

a{
    color:yellow
}

a:hover{
    color:orangered
}

h1{
    font-family: HarryPotter;
    font-size: 600%;
    color: yellow;

}

ol{
    list-style-position: inside;
}

button{
    border-radius: 20px;
    color:#707070;
    padding:10px;
    margin-bottom: 10px;
    margin-top:10px;
}

.cards{
    column-count: 2;
}
.playerCard{
    display:inline /* attributes are in the worng column */
}